In [56]:
import pandas as pd

1.a) Create a DataFrame from the following dictionary:

data = {&#39;Name&#39;: [&#39;John&#39;, &#39;Anna&#39;, &#39;Peter&#39;, &#39;Linda&#39;],
&#39;Age&#39;: [28, 24, 35, 32],
&#39;City&#39;: [&#39;New York&#39;, &#39;Paris&#39;, &#39;Berlin&#39;, &#39;London&#39;]}

b) Select the &#39;Name&#39; column from the DataFrame

c) Filter the DataFrame to only show rows where Age is greater than 30.

d) Add a new column &#39;Salary&#39; with the following values: [50000, 48000,
60000, 52000].

e) Group the DataFrame by &#39;City&#39; and calculate the average &#39;Age&#39; for
each city.

In [57]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']
        }
#a
df=pd.DataFrame(data)
df

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

In [58]:
#b
df['Name']

0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object

In [59]:
#c
x = df['Age'] > 30
df[x]

    Name  Age    City
2  Peter   35  Berlin
3  Linda   32  London

In [60]:
#d
df['Salary']=[50000, 48000, 60000, 52000]
df

    Name  Age      City  Salary
0   John   28  New York   50000
1   Anna   24     Paris   48000
2  Peter   35    Berlin   60000
3  Linda   32    London   52000

In [61]:
#e
newdf=df.groupby('City')['Salary'].mean()
newdf

City
Berlin      60000.0
London      52000.0
New York    50000.0
Paris       48000.0
Name: Salary, dtype: float64

2.You have the following DataFrame:

data = {&#39;Name&#39;: [&#39;Alice&#39;, &#39;Bob&#39;, &#39;Charlie&#39;, &#39;David&#39;],&#39;Age&#39;: [25, 30, None, 40],&#39;City&#39;: [&#39;New York&#39;, None, &#39;Chicago&#39;, &#39;San Francisco&#39;],&#39;Salary&#39;: [None, 50000, 60000, None]}

df = pd.DataFrame(data)

a) Replace missing Age values with the mean Age.

b) Replace missing City values with &#39;Unknown&#39;.

c) Drop rows with missing Salary.

In [68]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, None, 40],
        'City': ['New York', None, 'Chicago', 'San Francisco'],
        'Salary': [None, 50000, 60000, None]
        }

df = pd.DataFrame(data)
#a
x=df['Age'].mean()
df['Age'].fillna(x,inplace=True)
#b
df['City'].fillna('Unknow',inplace=True)
#c
m=df.dropna()
print(df)
print()
print(m)

      Name        Age           City   Salary
0    Alice  25.000000       New York      NaN
1      Bob  30.000000         Unknow  50000.0
2  Charlie  31.666667        Chicago  60000.0
3    David  40.000000  San Francisco      NaN

      Name        Age     City   Salary
1      Bob  30.000000   Unknow  50000.0
2  Charlie  31.666667  Chicago  60000.0

<ipython-input-68-f586c7398093>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(x,inplace=True)
<ipython-input-68-f586c7398093>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknow',inplace=True)

3 Write a function that takes a number and returns its square. Apply this
function to the Age column in the DataFrame df to get a new column
Age_Squared.

In [64]:
def Squared(x):
  return x*x